html {
    height: 100%; /*外層高度100%*/
    margin:0;
}
body {
    display: flex; /*使物件依序排列*/
    flex-direction: column; 
}
.wrapper {
    flex-grow: 1; /*可佔滿垂直剩餘的空間*/

}

.footer{
    background-color: rgb(119, 196, 209);
    text-align: center;
    position:sticky;
}

.main {
    background: url("../img/confortableDesk.jpg");
    /* height: 95vh; */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  
  .focus{
      /* height: 400px; */
  }
  
  .focus h1{
      font-size: 80px;
  
  }
  
  .text-shadow{
      text-shadow:5px 5px 5px rgb(15, 37, 61);
  }
  
  .logo{
      height: 5vh;
      width: auto;
  }
  @media screen and (max-width: 550px){
      .main{
          height: 75vh;
      }
  
      .jobs{
          padding: 40px 20px;
      }
  
      .slider{
          display: none;
      }
  
      .focus h1{
          font-size: 60px;
      }
  
      .focus h2{
          font-size: 20px;
      }
  
  }
  